
.footer{
  margin-top: auto;
  height: 40px;
  padding: 50px 0px 70px 0px;
  color: #f2f2f2;
  background-color: rgb(49, 47, 47);
  text-align: center;
  font-size:large;
  font-weight:380;
  position: relative;
  @media (max-width: 400px) {
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    padding-bottom: 50px;
  }
  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}
  
  
  
  