.container {
    /* width: 600px; */
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
    
  } 

  .product-img{
    // width: 500px;
    // height: 500px;
    text-align: center;
  }
  
// .container-top-right-delete{
//     position: absolute;
//     color:white;
//     height: 40px;
//     width: 110px;
//     border-radius: 10px;
//     text-align: center;
//     background-color: rgb(161, 166, 176);
//     top: 240px;
//     left: 1230px;
//   }
  
//   .container-top-right-update{
//     position: absolute;
//     color:white;
//     height: 40px;
//     width: 110px;
//     border-radius: 10px;
//     text-align: center;
//     background-color: rgb(161, 166, 176);
//     top: 240px;
//     left: 1090px;
//   }

.ud-btn{
    text-align: right;
}